/*search*/

@media screen and (max-width: 768px) {

    .search-wrap {
        padding: 0 26px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        border: 1px solid var(--clr-terkot);
        border-radius: 18px;
        background: var(--clr-white);

        overflow: hidden;
    }

    .search-input {
        padding: 18px 0;

        width: 100%;
        outline: none;
        border: none;
        background: none;
    }

    .search-btn {
        padding: 0;
        display: block;
        outline: none;
        border: none;
        background: none;
    }

    .search-btn__image {
        height: 20px;
    }

}